table {
  border-collapse: collapse;
  width: 100%;
  color: rgb(52, 52, 52);
}
table tr#row1{
    background-color: rgb(167, 167, 167);
    font-size: 13px;
}
th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#delete{
  border: 1px solid red;
  background-color: rgb(228, 82, 82);
  color: white;
  width: 80px;
  height: 22px;
}
#delete:hover{
  cursor: pointer;
}