.head {
  display: flex;
    align-items: center;
  justify-content: space-between;
  padding-top: 2%;
}
.head h2 {
  position: relative;
  left: 40%;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  /* z-index: 100; */
  top: 0%;
}

.modalCont{
    max-width: 600px;
    width: 100%;
    top: 50%;
    left: 50%;
    position: relative;
    height: 600px;
    background-color: white;
    transform: translate(-50%,-50%);
}
p{
    margin-right: 5%;
}
p:hover{
    cursor:pointer;
}