.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
}
.head h2 {
  position: relative;
  left: 40%;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  /* z-index: 100; */
  top: 0%;
}

.modalCont {
  max-width: 600px;
  width: 100%;
  top: 50%;
  left: 50%;
  position: relative;
  height: 550px;
  background-color: white;
  transform: translate(-50%, -50%);
}
p {
  margin-right: 5%;
}
p:hover {
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form_section {
  width: 89%;
}

span {
  color: red;
  white-space: nowrap;
}
h5 {
  margin-bottom: 4px;
}
#toll_name {
  width: 100%;
  height: 35px;
}
input {
  border-radius: 2px;
  border: 1px solid rgb(164, 164, 164);
}
.list_cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
}
.list {
  display: flex;
  flex-direction: row;
  column-gap: 23px;
}
.list_cont input {
  width: 160px;
  height: 35px;
}
.form_btn {
  border: none;
  border-radius: 4px;
  background-color: rgb(65, 138, 247);
  color: white;
  width: 100%;
  margin-top: 40px;
  height: 40px;
}
.form_btn:hover{
  cursor: pointer;
}
